<div class="query-viewer-wrapper">
  <div class="query-viewer-title">
    <div class="query-viewer-title-spacer">
      Login
    </div>
  </div>
  <div class="query-viewer-body">
    <form (ngSubmit)="onSubmit(loginForm)" [formGroup]="loginForm" novalidate>
      <div>
        <mat-form-field>
          <input matInput placeholder="Login" required formControlName="login">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" required formControlName="password">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Submit</button>
      </div>
    </form>
    <mat-error>
    </mat-error>
  </div>
</div>

