<div class="query-viewer-wrapper">
  <div class="query-viewer-title">
    <div class="query-viewer-title-spacer">
      Employee Job Query
    </div>
  </div>
  <div class="query-viewer-body">
    <form (ngSubmit)="onSubmit(employeeJobQuery)" [formGroup]="employeeJobQuery" novalidate>
      <div>
        <mat-form-field>
          <mat-select placeholder="Employee" name="employee_name" required formControlName="employeeId">
            <mat-option *ngFor="let employee of employees" [value]="employee.id">
              {{employee.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a job range start date"
               required formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="endDatePicker" placeholder="Choose a job range end date"
               required formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="!employeeJobQuery.valid">Submit</button>
      </div>
    </form>
    <mat-error *ngIf="employeeJobQuery.hasError('validDateRange')">
      The 'end' date should be more recent than the 'start' date
    </mat-error>
  </div>
</div>

<!--<p>Form value: {{ employeeJobQuery.value | json }}</p>-->
<!--<p>Form status: {{ employeeJobQuery.status | json }}</p>-->

