<md-toolbar color="primary">

  <span>{{title}}</span>
  <span class="spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item (click)="renderDashboard()">
    <md-icon>dashboard</md-icon>
    <span>Dashboard</span>
  </button>
  <button md-menu-item (click)="renderEmployeeDashboard()">
    <md-icon>assessment</md-icon>
    <span>Employee dashboard</span>
  </button>
  <button md-menu-item (click)="renderSettings()">
    <md-icon>settings</md-icon>
    <span>Settings</span>
  </button>
  <button md-menu-item (click)="renderHelp()">
    <md-icon>help</md-icon>
    <span>Help</span>
  </button>
</md-menu>
<router-outlet></router-outlet>
