<p></p>
<div class="wrapper">
  <div class="thead">
    <div class="tr">
      <div class="td">
        <label>Analysis</label>
      </div>
      <div class="td">
        <label>Analysis Review</label>
      </div>
      <div class="td">
        <label>Code</label>
      </div>
      <div class="td">
        <label>Code Review</label>
      </div>
      <div class="td">
        <label>Merge</label>
      </div>
    </div>
  </div>
  <div class="tr">
    <div class='td' [dragula]='"first-bag"'>
      <md-card class="example-card" *ngFor="let card of cards">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{card.title}}</md-card-title>
          <md-card-subtitle>{{card.shortDescription}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{card.content}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class='td' [dragula]='"first-bag"'>
      <md-card class="example-card" *ngFor="let card of cards">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{card.title}}</md-card-title>
          <md-card-subtitle>{{card.shortDescription}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{card.content}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class='td' [dragula]='"first-bag"'>
      <md-card class="example-card" *ngFor="let card of cards">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{card.title}}</md-card-title>
          <md-card-subtitle>{{card.shortDescription}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{card.content}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class='td' [dragula]='"first-bag"'>
      <md-card class="example-card" *ngFor="let card of cards">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{card.title}}</md-card-title>
          <md-card-subtitle>{{card.shortDescription}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{card.content}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <div class='td' [dragula]='"first-bag"'>
      <md-card class="example-card" *ngFor="let card of cards">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{card.title}}</md-card-title>
          <md-card-subtitle>{{card.shortDescription}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{card.content}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
