<h1>{{boardSwimlanes.getBoardTitle()}}</h1>
<div class='parent'>
  <div class="wrapper">
    <div class="thead">
      <div class="tr">
        <div class="td" *ngFor="let swimlane of boardSwimlanes.swimlanes">
          <label>{{swimlane.getStatusString()}}</label>
        </div>
      </div>
    </div>
    <div class="tr">
      <div class='td' *ngFor="let swimlane of boardSwimlanes.swimlanes let i=index" [id]="i + 1" [dragula]='"first-bag"' [dragulaModel]='swimlane.cards'>
        <mat-card class="example-card" *ngFor="let card of swimlane.cards" [id]="card.id">
          <mat-card-header>
            <img mat-card-avatar src="/assets/card/malecostume-512.png">
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.shortDescription}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{card.content}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class='wrapper'>
    <div class='td' *ngFor="let swimlane of boardSwimlanes.swimlanes">
      <pre>{{swimlane.cards | json}}</pre>
    </div>
  </div>
</div>
